/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

.yardoc

/node_modules
/app/assets/javascripts/bundle.js
/app/assets/javascripts/bundle.js.map

# Ignore application configuration
/config/application.yml
.DS_Store
dump.rdb
