@import "variables";

.event-form {
    .time-range {
        // text-align: center;
        // display: flex;
        // justify-content: space-between;
        color: $blue;
        mrgin-bottom: 20px;
        label {
            display: block;
            font-weight: bold;
            margin-top: 2px;
            font-size: 26px;
        }
        .date-time {
            display: flex;
            margin-bottom: 20px;
            .hour-min-space {
                font-size: 30px;
                margin: 0 10px;
            }
        }
    }
}

.time-input {
    display: flex;
}