@import "variables";

.sub-header {
  background-color: #ddd;
  padding: 20px;
  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.rbc-calendar {
  height: 550px;
  background-color: white;
}

.activation-button {
  margin: 5px;
  margin-top: 20px;
  padding: 5px 20px;
  color: $white;
  border-radius: 10px;
  &.active {
    background-color: $red;
  }
  &.inactive {
    background-color: $green;
  }
}

.new-member-link {
  display: block;
  margin: 10px 0px;
  color: $blue;
  text-decoration: underline;
  transition: color 200ms;
  &:hover {
    color: $orange;
  }
}