@import "variables";

.logo {
  background-color: $orange;
}

.nav {
  position: relative;
  z-index: 5;
  background-color: $blue;
  color: $white;
  box-shadow: 1px 1px 3px $blue;
  a, button {
    display: block;
    padding: 20px 20px;
    &:hover {
      background-color: $orange;
    }
  }
  li {
    border-left: 2px solid $white;
    position: relative;
    &:last-child {
      border-right: 2px solid $white;
    }
  }
}

.user-info {
  margin-left: auto;
  position: relative;
}

.notification-dropdown {
  cursor: auto;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 50%;
  min-width: 280px;
  transform: translateX(-50%);
  border: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: black;
  overflow: hidden;
  ul {
    max-height: 300px;
    overflow: scroll;
  }
  li.notification {
    cursor: pointer;
    background-color: #ddd;
    display: flex;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #aaa;
    &.new  {
      background-color: white;
    }
    &:hover  {
      background-color: #ccc;
      h5 {
        color: $orange;
      }
    }
    .left-content {
      width: 25%;
      text-align: right;
      padding: 5px;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      .badge {
        font-size: 15px;
        margin-left: auto;
        display: flex;
        background-color: $orange;
        color: $white;
        padding: 5px 10px;
        border-radius: 3px;
        position: relative;
        margin-right: 10px;
      }
      .delete-notification-button {
        // background-color: $blue;
        transition: all 140ms;
        &:hover {
          color: $orange;
        }
      }
    }
    div {
      padding: 2px;
      h5 {
        font-weight: bold;
        display: block
      }
      p {
        font-size: 14px;
      }
      // &:before {
      //   content: "";
      //   border: 10px solid transparent;
      //   border-bottom: 10px solid green;
      //   position: absolute;
      //   top: 0;
      //   left: 50%;
      // }
    }
  }
  .empty-notifications {
    text-align: center;
    padding: 10px;
  }
}

.counter {
  background-color: $orange;
  padding: 2px 8px;
  border-radius: 50%;
  margin-left: 5px;
}

button:hover .counter, a:hover .counter {
  background-color: $white;
  color: $orange;
}
