@import "variables";

.logo {
  background-color: $orange;
}

.nav {
  position: relative;
  z-index: 5;
  background-color: $blue;
  color: $white;
  box-shadow: 1px 1px 3px $blue;
  a, button {
    display: block;
    padding: 20px 20px;
    &:hover {
      background-color: $orange;
    }
  }
  li {
    border-left: 2px solid $white;
    position: relative;
    &:last-child {
      border-right: 2px solid $white;
    }
  }
}

.user-info {
  margin-left: auto;
  position: relative;
}

.notification-dropdown {
  cursor: auto;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 15px;
  li {
    margin: 10px;
  }
}

.counter {
  background-color: $orange;
  padding: 2px 8px;
  border-radius: 50%;
  margin-left: 5px;
}

button:hover .counter, a:hover .counter {
  background-color: $white;
  color: $orange;
}
